*{
box-sizing:border-box;
}


body{

margin:0;

font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
135deg,
#dff6ff,
#f9f9ff
);

min-height:100vh;

}



.main-container{

width:850px;

margin:40px auto;

background:white;

padding:40px;

border-radius:25px;

box-shadow:
0 15px 40px rgba(0,0,0,0.15);

}



.header{

text-align:center;

margin-bottom:30px;

}



.header h1{

color:#0077b6;

font-size:38px;

}



.header p{

color:#666;

font-size:18px;

}




.section{

background:#f8fbff;

padding:25px;

border-radius:20px;

margin-bottom:25px;

border:1px solid #e0efff;

}




h2{

color:#005b96;

}



.input-group{

display:flex;

gap:20px;

}



input[type="text"],
input[type="number"]{

width:50%;

padding:15px;

border-radius:12px;

border:1px solid #ccc;

font-size:16px;

}




.gender-box{

display:flex;

gap:30px;

}



.gender-box label{

background:#eaf6ff;

padding:12px 25px;

border-radius:15px;

cursor:pointer;

}





.symptom-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

}




.symptom-grid label{

background:white;

padding:15px;

border-radius:15px;

box-shadow:0 3px 10px #ddd;

cursor:pointer;

}



button{

width:100%;

padding:18px;

background:#0077b6;

color:white;

border:none;

border-radius:15px;

font-size:20px;

cursor:pointer;

}




button:hover{

background:#023e8a;

}




.patient-card{

background:white;

padding:20px;

border-radius:15px;

}



.prediction-box{

text-align:center;

background:#d8f3dc;

padding:25px;

border-radius:20px;

}



.prediction-box h1{

color:#2d6a4f;

font-size:40px;

}




.probability{

margin-bottom:20px;

}



.prob-title{

display:flex;

justify-content:space-between;

font-weight:bold;

}



.progress{

height:22px;

background:#ddd;

border-radius:20px;

overflow:hidden;

}



.progress-fill{

height:100%;

background:
linear-gradient(
90deg,
#00b4d8,
#0077b6
);

border-radius:20px;

}



.back-button{

display:block;

text-align:center;

background:#0077b6;

color:white;

padding:15px;

border-radius:15px;

text-decoration:none;

font-size:18px;

}